#app .VPNavBar {
  border-bottom: 1px solid var(--vp-c-divider-light);
}

#app .VPHomeHero {
  margin-top: 20px;
  margin-bottom: 35px;

  .main {
    margin-top: -40px;
  }
}
#app .VPNavBarTitle {
  .title {
    color: transparent;
    background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);
    // background: -webkit-linear-gradient(120deg, #ef771d 30%, #ffbc6d);
    -webkit-background-clip: text;
  }
}

.font-icon {
  padding: 2px 8px;
  border-radius: 4px;

  display: inline-block;
  background-color: var(--vp-c-gray-light-4);
}

.dark .font-icon {
  background-color: var(--vp-c-bg);
}

p img {
  margin-top: 2px;
}

@media (max-width: 960px) {
  #app .image {
    margin-top: -75px;
  }

  #app .VPHomeHero {
    margin-bottom: 5px;

    .main {
      margin-top: 50px;
    }
  }
}

@media (min-width: 960px) {
  .image-src {
    max-width: 200px !important;
    max-height: 200px !important;
  }

  //   .VPNavBar.has-sidebar .curtain::before {
  //     content: none !important;
  //   }

  //     .VPNavBar.has-sidebar .content-body,
  //     .VPNavBar.fill .content-body {
  //       backdrop-filter: blur(5px);
  //       background: rgba(255, 255, 255, 0.8) !important;
  //     }
  //     .dark {
  //       .VPNavBar.has-sidebar .content-body,
  //       .VPNavBar.fill .content-body {
  //         backdrop-filter: blur(5px);
  //         background: rgba(36, 36, 36, 0.8) !important;
  //       }
  //     }
}

// @media (min-width: 1440px) {
//   .VPSidebar {
//     width: calc(
//       (100% - (var(--vp-layout-max-width) - 64px)) / 2 + var(--vp-sidebar-width) -
//         25px
//     ) !important;
//   }
// }

// ::-webkit-scrollbar {
//   display: none;
// }

.nav-search-btn-wait {
  background: transparent;
  transition: border-color 0.3s;
}
@media (min-width: 768px) {
  .nav-search-btn-wait {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px;
    width: 158px;
    height: 40px;
    background-color: var(--vp-c-bg-alt);
  }

  .blog-search .nav-search-btn-wait .metaKey {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 0 5px;
    color: var(--vp-c-text-2);
  }
  .blog-search .nav-search-btn-wait .search-tip {
    font-size: 14px !important;
  }
  .dark {
    .blog-search .nav-search-btn-wait .metaKey {
      border: 1px solid var(--vp-c-gray-2);
    }
  }
}
@media (max-width: 768px) {
  .nav-search-btn-wait {
    display: none;
  }
  .algolia [command-dialog-mask] {
    padding: 20px;
  }
}
